{% extends 'layout.html' %}

{% block title %} Home {% endblock %}
{% block content %} 

<table class="table is-striped is-fullwidth">    
        <tr>
            <th>Email</th>
            <th>Instructor name</th>
            <th>Id</th>

        </tr>
        <tr>
            <td>{{ session ['instructor_email'] }}</td>
            <td>{{ session['instructorname'] }}</td>
            <td>{{session['instructorid'] }}</td>
        </tr>        
    
</table>
<ul>
    <li><a href="/courseInstructor">Instructor Courses</a></li>
</ul>
<ul>
    <li><a href="/departments">List Departments </a></li>
</ul>
<ul>
    <li><a href="/assignments">List Assignments </a></li>
</ul>
<ul>
    <li><a href="/courses">List Courses </a> </li>
</ul>
<ul>
    <li><a href="/studentlist">List Students </a></li>
</ul>
{% endblock %}