{% extends 'layout.html' %}

{% block title %} Home {% endblock %}
{% block content %} 

<div class = "container">
<div class = "row">
<div class = "col-md-6 col-md-offset-3">

<h2>  Already registered with this e-mail </h2>

</div>
</div>
</div>
<table class="table is-striped is-fullwidth">    
    <tr>
        <th>Registerde Mail</th>

    </tr>
    <tr>

        <tr>
            {% for list in row %}
            
            <tr>
          
                <td>{{ list }}</td>
    
            </tr>
        {% endfor %}
        </tr>  


    </tr>        
    <ul>

</table>


{% endblock %}